/*
it seems the bootstrap's go at double borders broke links
so i removed the ctn-inner class from that particular part of the page
and made my own styling as a quick remedy

transparent orange -> rgba(230,167,86,.9);
*/
.blanche-inner {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.85);
    border: 0.25rem solid rgba(47,23,15,.9);
}